
{% extends "skeleton.html" %}
{% block head %}
{{ super() }}
<link href="{{url_for ('static',filename='css/modificationMdp.css')}}" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}

<div class="container">
    <div class="boxSign">

        <form class="form-signin" method="post" role="form">
            <h2 class="form-signin-heading">Entrez un nouveau mot de passe</h2>
            <label for="inputPassword" class="sr-only">Nouveau mot de passe</label>
            <input value="" name="inputPassword" id="inputPassword" class="form-control" placeholder="Mot de passe" autocomplete="off" required="required" type="text">
            <br>
            <label for="inputPassword2" class="sr-only">Retapez votre nouveau mot de passe</label>
            <input value="" name="inputPassword2" id="inputPassword2" class="form-control" placeholder="Retapez votre mot de passe" autocomplete="off" required="required"  type="text">
            <br>
            {%if message %}
            <div class="red" text-align:center;>
                <h4 >{{message}}</h4>
            </div>
            {% endif %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Envoi</button>
        </form>


    </div>
</div>
{% endblock content%}